<!DOCTYPE html>
<html lang="en-us" ng-app="toDoApp">
<head>
    <title>To Do List</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
</head>



<body>
    
    <div class="container">
        <div ng-controller="taskController">
            
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>To-Do List</h3>
                        <form ng-submit="submit()">
                            <div class="form-group">
                                <input type="text" class="form-control" autofocus="true" ng-model="task" />
                            </div>
                            <input type="submit" class="btn btn-primary" ng-click="addTask()" value="Add Task" />
                            <input type="submit" class="btn btn-danger" ng-click="removeAll()" value="Remove All" />
                            <input type="submit" class="btn btn-success" ng-click="restoreAll()" value="Restore All" />
                        </form>
                </div>
            </div>

            <hr />
            
            <ul>
                <li ng-repeat="task in tasks track by $index"> 
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> {{ task }}
                        </label>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="removeTask($index)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
            </ul>
              
        </div>
    </div>
</body>




</html>